

/* Banner */
#lokiSlider img {
    object-fit: cover;
}

#lokiSlider .carousel-caption {
    text-shadow: #333 0.2rem 0.2rem 0.5rem;
}

#lokiSlider .carousel-indicators>button {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 10px solid transparent;
}



ul {
    list-style-type: none;
}

.btn-outline-primary {
    color: rgb(0, 98, 175);
    border-color: rgb(0, 98, 175);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active:hover {
    background-color: rgb(0, 98, 175);
    border-color: rgb(0, 98, 175);
}

.btn-primary {
    background-color: rgb(0, 98, 175);
    border-color: rgb(0, 98, 175);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
    color: rgb(0, 98, 175);
    border-color: rgb(0, 98, 175);
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #333;
}

.card:hover{
    transform: scale(1.05);
}

.card {
    transition: all .3s;
}

.accordion {
    --bs-accordion-active-bg: rgb(124, 173, 211);
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
}

.list-group {
    --list-group-color: rgb(124, 173, 211);
}

.nav-pills .nav-link.active {
    background-color: rgb(0, 98, 175)
}

.nav-pills .nav-link {
    color: #000;
}



img:hover {
    transform: scale(1.05);
    transition: all .3s;
}

img {
    max-width: 100%; 
    height: auto;
  }

.download-btn{
    padding: 10px;
}

.row{
    justify-content: center;
}

.btn-warning{
    color: #000;
}

.nav .active {
    border-bottom: 2px solid rgb(0, 98, 175);
  }

.bg-A{
    width:100% ;
    height: 70vh;
    background-image: url(https://images.unsplash.com/photo-1640101086894-7d70c3e70179?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;  

background-position: bottom ;
}

.bg-events{
    width:100% ;
    height: 67vh;
    background-image: url(https://mmmmxy0.github.io/sjajsasa/img/banner/Banner-02.jpg);
background-size: cover;  
background-position:right;

}
